@model ZadaniaRekrutacyjne.Models.MatrixTaskViewModel

<div class="input-container">
    <form asp-action="FindHole" enctype="multipart/form-data">
        <div class="text-center">
            <h5>Podaj macierz w postaci 101,100,111,101</h5>
            <div class="row py-1">
                <input asp-for="MatrixString" placeholder="Input number..." class="form-control" />
                <span asp-validation-for="MatrixString" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-success form-control">Create</button>
                </div>
            </div>
        </div>
    </form>
@if(ViewBag.Model!=null)
{
@foreach(var hole in ViewBag.Model)
{
    <h3>@hole</h3>
}
}
</div>