@model ZadaniaRekrutacyjne.Models.MatrixViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-action="MatrixTaskComplete" enctype="multipart/form-data">
    <div class="text-center">
        <h5>Podaj macierz w postaci ciagu liczb oddzielonych przecinkami np. 112,233,222,110 w celu odnalezieniu dziur</h5>
        <div class="row py-1">
            <input asp-for="MatrixOfStrings" placeholder="Input number..." class="form-control" />
            <span asp-validation-for="MatrixOfStrings" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-success form-control">Create</button>
            </div>
        </div>
    </div>
</form>